<!DOCTYPE html>
<html>
  <head>
    <title>YoikonoOhanaBatake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <div>
    <div>
      <%= image_tag 'bg_pattern1_aozora 16.01.25.png', class: 'bg_sky' %>
    </div>
    <div>
      <%= image_tag 'yob_logo4.png', class: 'logo' %>
    </div>
    <div>
      <%= image_tag 'sun_yellow2_character.png', class: 'bg_sun' %>
    </div>
  </div>


</header>
  <body>
    <div class="p-5">
      <%= yield %>
    </div>
  </body>
</html>
